<h1><%= @user.name %></h1>

<% if user_signed_in? && @user == current_user %>
    <p>(this is you) <%= @elapsed_time %>s</p>
    
    <h2>Youtube subscriptions</h2>
    <%= render partial: "youtube/channels", locals: { channels: @subscribed_channels} %>
    
    
    
<% end %>