<h1><%= @user.name %></h1>

<% if user_signed_in? && @user == current_user %>
    <p>(this is you)</p>
    
    <% for channel in @subscribed_channels do %>
        <%= render partial: "channel/show", locals: { channel: channel } %>
    <% end %>
    
    
<% end %>