<% tag_title ||= "Tag Title" %>
<% channels ||= [] %>

<%= link_to tag_path(Tag.find_by(title: tag_title)) do %>
    <h2>
        <%= tag_title %> <small>(<%= channels.count %>)</small>
    </h2>
<% end %>

<%= render partial: "youtube/channels", locals: { channels: channels } %>

