<% tag_title ||= "Tag Title" %>
<% channels ||= [] %>

<h2>
    <%= tag_title %> (<%= channels.count %>)
</h2>

<div class="row">
    <% channels.each do |channel_uid| %>
        <div class="col-md-3 col-xs-4">
            <%= channel_uid %>    
        </div>
    <% end %>    
</div>
