<h1><%= @tag.title %></h1>

<%= render partial: "youtube/channels", locals: { channels: @channels.values } %>

<h2>Last videos from <%= @tag.title %></h2>
<%= render partial: "youtube/videos", locals: { videos: @videos } %>