<% sorted_videos = @videos.sort_by{ |video| video.published_at }.reverse.take(12) %>

<%#= render partial: "youtube/channels", locals: { channels: @channels.values } %>

<h1>Last videos from <%= @tag.title %></h1>

<div class="row">
    <div class="col-md-12">
        <%= render partial: "youtube/video_player", locals: { video: sorted_videos.first } %>
    </div>
    <div class="col-md-12">
        <%= render partial: "youtube/videos", locals: { videos: sorted_videos } %>
    </div>
</div>


