@import "bootstrap";

.tag_model {
    display: none;
    visibility: 0;
}

.tag_fields {
    height: 75%;
    padding-bottom: 1em;
}

.tag_with_channels_block {
    background-color: LightGray;
    border-radius: 0.25rem;
}